<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="refresh" content="5; URL=https://blog2.shapoco.net/${to_path}">

    <meta name="keywords" content="シャポログ">
    <meta name="description" content="${title}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@shapoco" />
    <meta property="og:url" content="https://blog2.shapoco.net/${from_path}" />
    <meta property="og:title" content="${title}" />
    <meta property="og:description" content="${title}" />
    <meta property="og:image" content="https://blog2.shapoco.net/image/this_article_moved.png" />
    
    <meta name="Hatena::Bookmark" content="nocomment" />

    <link rel="icon" href="https://blog2.shapoco.net/favicon192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://blog2.shapoco.net/apple-touch-icon180.png" sizes="180x180">
    <link rel="shortcut icon" href="https://blog2.shapoco.net/favicon48.ico">

    <title>${title} | シャポログ</title>
    <link href="./style.css?20241011190809" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1 style="display: none;">${title} | シャポログ</h1>
    <p>
      GitHub Pages への移行に伴い、URL が変更になりました。
    </p>
    <p>
      <a href="${to_path}">自動的に移動しない場合はここをクリック</a>
    </p>
  </body>

</html>
