
body {
    background: #e8f0f8;
    margin: 0px;
    padding: 0px;
    font-family: メイリオ, Meiryo, sans-serif;
}

#container {
    background: white;
    max-width: 900px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

header {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px;
    padding: 0px 1em;
}

footer {
    border-top: solid 1px #ccc;
    margin: 1ex 0px;
    padding: 1ex 0px;
    text-align: center;
    color: #888;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
    border-bottom: solid 1px #ccc;
}

h4 {
    font-size: 120%;
    border-bottom: solid 1px #eee;
}

h1, h2, h3, h4,
p, ul, ol, blockquote,
.article_info, .link_card {
    margin: 2ex 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    padding: 0px 0px 0px 2em;
}

li {
    margin: 1ex 0px;
    padding: 0px;
}

li p:first-child, 
li ul:first-child, 
li ol:first-child, 
li blockquote:first-child {
    margin-top: 0px;
}

blockquote p:first-child, 
blockquote ul:first-child, 
blockquote ol:first-child, 
blockquote blockquote:first-child {
    margin-top: 0px;
}

blockquote p:last-child, 
blockquote ul:last-child, 
blockquote ol:last-child, 
blockquote blockquote:last-child {
    margin-bottom: 0px;
}

blockquote {
    border-left: solid 5px #ccc;
    padding: 1ex 1em;
}

blockquote.note {
    border-left-color: #08f;
    background: #def;
}

blockquote.tip {
    border-left-color: #0c0;
    background: #ded;
}

blockquote.important {
    border-left-color: #80c;
    background: #edf;
}

blockquote.warning {
    border-left-color: #c80;
    background: #fff8d0;
}

blockquote.caution {
    border-left-color: #c00;
    background: #fdd;
}

table {
    background: #fff; 
    border-collapse: collapse;
    font-size: 80%;
    line-height: 2.5ex;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(odd) {
    background-color: #f8f8f8;
}

th,
td {
    border: solid 1px #68a;
    padding: 0.2ex 0.5em;
}

th {
    background: #def;
}

.nowrap {
    white-space: nowrap;
}

strong {
    color: #c00;
}

img,
video {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

main img {
    background: url("/image/image_bg.png");
}

main img,
main video,
main pre {
    border: solid 1px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

main img[src$="cover.jpg"],
main img[src$="cover.png"],
main img[src$="cover.gif"],
main img[src$="cover.svg"] {
    width: 100%;
    height: auto;
}

main img.link_icon {
    width: 2ex;
    height: 2ex;
    border-style: none;
    border-radius: 5px;
    background: transparent;
    margin: 0px 5px 0px 0px;
}

pre,
code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

pre {
    padding: 1ex 1em;
    background: #f8f8f8;
    max-height: 100vh;
    overflow: scroll;
    font-size: 80%;
}

code {
    border-radius: 5px;
    background: #eee;
    padding: 0px 5px;
    color: #040;
}

.top_header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    aspect-ratio: 3 / 1;
    background: center center / 100% auto no-repeat url("/image/cover.png") #bcd;
}

.top_header h1 {
    margin: 0px;
    padding: 5px 10px;
    font-size: 40px;
    text-shadow: #bcd 0 0 10px, #bcd 0 0 10px, #bcd 0 0 10px, #bcd 0 0 10px;
    color: #024;
}

.article_header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    aspect-ratio: 9 / 1;
    background: center center / 100% auto no-repeat url("/image/article_header.png") #bcd;
}

.article_header h1 {
    margin: 0px;
    padding: 5px 10px;
    font-size: 30px;
    text-shadow: #bcd 0 0 10px, #bcd 0 0 10px, #bcd 0 0 10px, #bcd 0 0 10px;
    color: #024;
}

header h1 a {
    text-decoration: none !important;
    color: inherit !important;
}

.link_card {
    display: flex;
    max-height: 120px;
    border: solid 1px #ccc;
    border-radius: 10px;
    overflow: hidden; /* .link_card の子要素も角丸で切り取る */
    padding: 0px;
    text-decoration: none;
    color: #000;
}

.link_card:hover {
    background: #def;
}

.link_card .card_image {
    width: 100px;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.link_card .card_body {
    margin: 0px 0px 0px 100px;
    padding: 1ex 1em;
}

.link_card h2,
.link_card h3,
.link_card h4 {
    font-size: 100%;
    margin: 0px 0px 0.5ex 0px;
    padding: 0px;
}

.link_card p {
    font-size: 80%;
    margin: 0.5ex 0px 0px 0px;
    padding: 0px;
}

.header_info {
    display: inline-block;
    vertical-align: middle;    
    font-size: 80%;
    font-weight: normal;
    color: #444;
}

.article_info_wrap {
    border-radius: 5px;
    padding: 1ex 0.5em;
    background: #f0f4f8;
    text-align: right;
}

.article_info_wrap:after {
    content: "";
}

.article_info {
    display: block;
    margin: 0px;
    padding: 0px;
    float: left;
    white-space: nowrap;
}

.article_info_wrap #shpcstamp_wrap {
    display: inline-block;
}
